
.bunner {
    height: 100vh;
    width: 100%;
    background: url(../img/banner-bg.jpeg) 50%/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bunner__info {
    height: 50vh;
    width: 90%;
    background: hsla(0, 0%, 0%, 0.53);
}

.bunner__title {
    font-family: 'Oswald';
}