.header {
    width: 100%;
    height: 70px;
    background: rgb(38, 38, 38);
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    position: fixed;
}

.header__logo {
    width: 35%;
    text-align: right;
    font-size: 35px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header__nav {
    width: 65%;
}

.header__logo--part {
    color: #950505;
}

.header__menu {
    width: 60%;
    display: flex;
    gap: 100px;
    margin: auto;
}

.header__menu a {
    color: #ffffff;
}

.fa-bars {
    color: #FFFFFF;
}

.header__submenu {
    position: relative;
}

.header__submenu-list {
    position: absolute;
    top: 44px;
    left: -55px;
    display: none;
    width: 200px;
    background: rgb(45, 45, 45);
    transition-duration: 5s;

}

.header__submenu-list li {
    padding: 10px 0;
    text-align: center;
    border-top: 2px solid rgb(37, 4, 4);
}

.header__submenu:hover .header__submenu-list {
    display: block;
    transition-duration: 5s;
}

.header__submenu:hover>a i {
    color: #950505;
}