*,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #afafaf;
}
a:hover{
    color: #6eff0eb2;
}

li, ul{
    list-style: none;
}
body {
    font-family: 'Raleway', sans-serif;
    color: #afafaf;
}
.header{
    width: 100%;
    height: 70px;
    border: 2px solid #FFFFFF;
    background: rgb(66, 66, 66);
    display: flex;
    padding-right: 30px;

}
.header__nav{
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
}
.header__menu{
    display: flex;
    align-items: center;
    height: 90%;
}
.header__menu > li{
    display: flex;
    align-items: center;
    padding: 0 8%;
    height:60%;
    border-right: 1px solid #7c7c7c;
}
.header__submenu{
    position: relative;
}

.header__submenu-list{
    position: absolute;
    left: -70px;
    top: 53px;
    width: 250px;
    border: 1px solid #FFFFFF;
    background: rgb(66, 66, 66);
    padding: 0 25px;
    display: none;
}
.header__submenu:hover .header__submenu-list{
    display: block;
}
.header__submenu-list li {
    text-align: left;
    border-top: 0.5px solid #272727;
    border-left: 0.5px solid #272727;
    border-right: 0.5px solid #585858d4;
    border-bottom: 0.5px solid #585858d4;
    box-shadow: inset 0.5px 0.5px 0px 0.5px #585858d4,
     inset -0.5px -0.5px 0px 0.5px #272727;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 7px 0;
}
.transparent{
    position: absolute;
    top: -20px;
    width: 80%;
    height: 20px;
    background:transparent;
    border: none;
}
.header__submenu-list li:hover{
    background: rgb(41, 41, 41);
    box-shadow: 
        inset 1px 1px 0px rgb(22 22 22 / 50%),
            1px 1px 0px rgb(80 80 80);
}

.header__submenu-list li:hover a {
    color:#FFFFFF;
    font-weight: bold;
}
.fa-arrow-right-long{
    margin-left: 30%;
}
.fa-arrow-left-long{
    margin-right: 30%;
}
.contacts {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}
.contacts a {
    margin-left: 5px;
    border-bottom: 1px dotted;
}
.lan{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 40px;
}
.lan a {
    border-bottom: 1px dotted;
}

.banner{
    height: 100vh;
    background: linear-gradient(rgba(47, 48, 58, .4), 
                rgba(47, 48, 58, .4)), 
                url(../img/bg.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.banner__title{
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}
.banner__subtitle{
    font-size: 25px;
    text-align: center;
}
.banner__btn{
    padding: 15px 35px;
    background: rgba(50, 50, 50, 0.833);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-family: inherit;
}
.banner__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
}
